.footer{
    color: #ffffff;
    font-size: 1em;
    text-align: center;
    background-color: rgb(0, 0, 0);
    justify-content: end;
    padding: 5px;   
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}